<!--TODO Create a registration form-->
<form [formGroup]="registrationForm" (submit)="onSubmit()">
  <div>
    <label>Username <span class="danger">*</span></label>
    <div *ngIf="registrationForm.controls.username.invalid && (registrationForm.controls.username.dirty || registrationForm.controls.username.touched)">
      <span class="danger" *ngIf="registrationForm.controls.username.errors.required">Field is required</span>
    </div>
    <br>
    <input name="username" type="text" placeholder="Enter username" formControlName="username" >
  </div>
  <div>
    <label>Password <span class="danger">*</span></label>
    <div *ngIf="registrationForm.controls.password.invalid && (registrationForm.controls.password.dirty || registrationForm.controls.password.touched)">
      <span class="danger" *ngIf="registrationForm.controls.password.errors.required">Field is required</span>
      <span class="danger" *ngIf="registrationForm.controls.password.errors.pattern">Weak password</span>
    </div>
    <br>
    <input name="password" type="password" placeholder="Enter password" formControlName="password">
  </div>
  <button type="submit">Sign up</button>

</form>
