<!--TODO Add validation error messages for form inputs-->
<div [formGroup]="customerControl">
  <h4>Your details</h4>

  <div class="order-form mt-3">
    <div class="form-input">
      <label for="name">Name
        <span class="danger">*</span>
        <div *ngIf="customerControl.controls.name.invalid && (customerControl.controls.name.dirty || customerControl.controls.name.touched)">
          <span class="danger" *ngIf="">Field is required</span>
        </div>
      </label>
      <input formControlName="name" class="form-control" id="name" placeholder="Enter name" name="name" >
    </div>

    <div class="form-input">
      <label for="email">Email
        <span class="danger">*</span>
        <div *ngIf="customerControl.controls.email.invalid && (customerControl.controls.email.dirty || customerControl.controls.email.touched)">
          <span class="danger" *ngIf="customerControl.controls.email.errors.required">Field is required</span>
          <span class="danger" *ngIf="customerControl.controls.email.errors.email">Not an email</span>
        </div>
      </label>
      <input formControlName="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
  </div>

  <div class="order-form">
    <div class="form-input">
          <label for="address">Address
            <span class="danger">*</span>
            <div *ngIf="customerControl.controls.address.touched && customerControl.controls.address.errors">
              <span class="danger" *ngIf="customerControl.controls.address.errors.required">Field is required</span>
            </div>
          </label>
          <input formControlName="address" class="form-control" id="address" placeholder="Enter address" name="address" required>
      </div>
      <div class="form-input">
        <label for="phone">Phone
          <span class="danger">*</span>
          <div *ngIf="customerControl.controls.phone.touched && customerControl.controls.phone.errors">
            <span class="danger" *ngIf="customerControl.controls.phone.errors.required">Field is required</span>
          </div>
        </label>
        <input formControlName="phone" class="form-control" id="phone" placeholder="Enter phone number" name="phone" required>
      </div>
    </div>
</div>

